<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>
    
</head>
<body>
<p style="margin-top:-12px">

</p>
<div id="map" style="width:100%;height:350px;"></div>
 <div>
 					<label for="keyword">위치 검색 :</label>
                    <input type="text" id="keyword" size="15"> 
            <button onclick="searchPlaces(); return false;">검색하기</button> 
            <div id="map" style="width:100%;height:350px;"></div>
</div>


<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=ecad3be9bf19b5169d31bfc7e2f50a68&libraries=services"></script>
 
<script>

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(36.5099, 127.2657), // 지도의 중심좌표 도담동 내집
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

//장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places();  
//검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});
//키워드로 장소를 검색합니다
searchPlaces();

//키워드 검색을 요청하는 함수입니다
function searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB); 
}


function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {
        displayPlaces(data);
        displayPagination(pagination);
    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
        alert('검색 결과가 존재하지 않습니다.');
        return;
    } else if (status === kakao.maps.services.Status.ERROR) {
        alert('검색 결과 중 오류가 발생했습니다.');
        return;
    }
}

// 지도 중심에 마커를 추가합니다.
var marker = new kakao.maps.Marker({
    position: map.getCenter()
});
marker.setMap(map);

//지도 클릭시 마커 위치 업데이트 및 좌표값 설정
kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
    var latlng = mouseEvent.latLng;
    document.getElementById('lat').value = latlng.getLat();
    document.getElementById('lng').value = latlng.getLng();

    marker.setPosition(latlng);
});

document.getElementById('writeForm').addEventListener('submit', function (event) {
    // form submit 시 추가 검증 또는 이벤트 처리
});

</script>
</body>
</html>