<!DOCTYPE html>
<!-- 상속을 통해 레이아웃 적용 -->
<html layout:decorate="~{lib/layout}">

<head>
	<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"> 

</head>

<body>
	<div layout:fragment="content" class="wrapper">

		<!-- Preloader -->
		<!--
	<div th:replace="~{lib/preloader.html :: sagment_preloader}"></div>
	-->

		<!-- Navbar -->
		<div th:replace="~{lib/navi.html :: sagment_navi}"></div>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<div th:replace="~{lib/left.html :: sagment_left}"></div>

		<!-- Content Wrapper. Contains page content -->
		<div th:replace="~{pages/post_detail_content.html :: frag_index_content}"></div> 
		<!-- /.content-wrapper -->
		<div th:replace="~{lib/right.html :: sagment_aside}"></div>
	
		<!-- Control Sidebar -->
		<div th:replace="~{lib/footer.html :: sagment_footer}"></div>
		<!-- /.control-sidebar --> 	
		</div> 
</body>

 <script type="text/javascript">
 		var dw = [[$[post.id]]]
		var postLatitude = [[${post.latitude}]] ;
		var postLongitude = [[${post.longitude}]] ;
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(postLatitude,postLongitude), 
                level: 3 
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 마커 추가
        var marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(postLatitude,postLongitude)
        });

        marker.setMap(map);
    </script>
</html>